@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");

body::-webkit-scrollbar {
  width: 7px; /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
  background: transparent; /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
  background-color: rgb(148, 163, 228); /* color of the scroll thumb */
  border-radius: 20px; /* roundness of the scroll thumb */
}

:root {
  --rn-orange: #eb5f46;
  --rn-blue: #041f3d;
  --header-height: 120px;
  --width-container: 1280px;
}

a {
  text-decoration: none;
  color: inherit;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Quicksand", serif;
  color: var(--rn-blue);
}

header {
  position: sticky;
  top: 0;
  height: var(--header-height);
  width: 100%;
  background: rgba(255, 255, 255, 1);
  box-shadow: #041f3d 0px -7px 10px 1px;
}

.header-contain {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  height: var(--header-height);
  width: var(--width-container);
  min-width: fit-content;
}

.header-contain h1 {
  font-size: 1.11em;
  color: var(--rn-blue);
}

nav ul {
  display: flex;
  list-style: none;
  align-items: center;
  gap: 50px;
  height: var(--header-height);
  width: fit-content;
}

nav ul a {
  display: flex;
  align-items: center;
  gap: 50px;
  height: var(--header-height);
  width: fit-content;
  color: var(--rn-blue);
  font-weight: 700;
  font-size: 1em;
}

nav ul a:hover {
  text-decoration: underline;
}

main {
  width: 100%;
  height: fit-content;
}

.banner {
  width: var(--width-container);
  height: fit-content;
  margin: auto;
}

.banner img {
  max-width: 100%;
  height: auto;
}

.ofertas {
  display: flex;
  flex-direction: column;
  gap: 34px;
  margin-bottom: 34px;
  width: 100%;
  height: fit-content;
}

.ofertas-container {
  display: flex;
  justify-content: center;
  width: var(--width-container);
  height: fit-content;
  margin: auto;
}

.ofertas-container h1 {
  font-size: 1.5em;
  color: var(--rn-blue);
  margin: 50px 0;
}

.productos {
  display: flex;
  justify-content: space-between;
  width: var(--width-container);
  height: fit-content;
  margin: auto;
}

.producto-info {
  width: 400px;
  padding: 20px;
  border: 0.1px #041f3d solid;
  transition: 0.2s box-shadow;
}

.producto-info:hover {
  box-shadow: 0px 0px 8px 1px rgb(115, 142, 165);
  -webkit-box-shadow: 0px 0px 8px 1px rgb(115, 142, 165);
  -moz-box-shadow: 0px 0px 8px 1px rgb(115, 142, 165);
  cursor: pointer;
}

.producto-info h1 {
  font-size: 1.3em;
  margin: auto;
  text-align: center;
}

.producto-info .imagen {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 350px;
  height: 350px;
  padding: 30px 0px;
}

.producto-info img {
  max-width: 100%;
  height: 100%;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.info h1 span {
  font-size: 0.7em;
  font-weight: 400;
}

.info p {
  font-weight: 500;
}

.info h2 {
  font-size: 2em;
  font-weight: bold;
}

.info h2 span {
  font-size: 0.6em;
  font-weight: 400;
  text-decoration: line-through;
}

.map {
  width: 100%;
}

iframe {
  display: flex;
  width: var(--width-container);
  margin: auto;
}

.whatsapp {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1000;
}
.whatsapp img {
  width: 60px;
  height: 60px;
}

footer {
  height: 150px;
  width: 100%;
  background: var(--rn-blue);
}

.footer-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  gap: 10px;
  height: 150px;
  background: var(--rn-blue);
  width: var(--width-container);
  color: white;
}
