@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");

body::-webkit-scrollbar {
  width: 7px; /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
  background: transparent; /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
  background-color: rgb(148, 163, 228); /* color of the scroll thumb */
  border-radius: 20px; /* roundness of the scroll thumb */
}

:root {
  --rn-orange: #eb5f46;
  --rn-blue: #041f3d;
  --header-height: 90px;
  --width-container: 1280px;
}

a {
  text-decoration: none;
  color: inherit;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Quicksand", serif;
  color: var(--rn-blue);
}

header {
  position: sticky;
  z-index: 2000;
  top: 0;
  height: var(--header-height);
  width: 100%;
  background: rgb(223, 252, 252);
  background: linear-gradient(
    90deg,
    rgba(223, 252, 252, 1) 0%,
    rgba(255, 244, 221, 1) 100%
  );
  box-shadow: #041f3d 0px -7px 10px 1px;
}

.titulo img {
  width: 270px;
}

.header-contain {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  height: var(--header-height);
  width: var(--width-container);
  min-width: fit-content;
}

.header-contain h1 {
  font-size: 0.84em;
  color: var(--rn-blue);
}

.nav ul {
  display: flex;
  list-style: none;
  align-items: center;
  gap: 50px;
  height: var(--header-height);
  width: fit-content;
}

.nav ul a {
  display: flex;
  align-items: center;
  gap: 50px;
  height: var(--header-height);
  width: fit-content;
  color: var(--rn-blue);
  font-weight: 700;
  font-size: 0.9em;
}

.nav ul a:hover {
  text-decoration: underline;
}

.menuIcon {
  display: none;
}

.menuIcon img {
  width: 30px;
  height: 30px;
}

main {
  width: 100%;
  height: fit-content;
}

.banner {
  width: var(--width-container);
  height: fit-content;
  margin: auto;
}

.banner img {
  max-width: 100%;
  height: auto;
}

.ofertas {
  display: flex;
  flex-direction: column;
  gap: 34px;
  width: 100%;
  height: fit-content;
}

.ofertas-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: var(--width-container);
  height: fit-content;
  margin: auto;
  padding: 50px 0px;
}

.ofertas-container h1 {
  font-size: 1.2em;
  color: var(--rn-blue);
}

.productos {
  display: flex;
  justify-content: space-between;
  width: var(--width-container);
  height: fit-content;
  margin: auto;
}

.producto-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 400px;
  padding: 20px;
  border-radius: 5px;
  border: 0.1px #041f3d solid;
  transition: 0.2s box-shadow;
}

.producto-info:hover {
  box-shadow: 0px 0px 8px 1px rgb(115, 142, 165);
  -webkit-box-shadow: 0px 0px 8px 1px rgb(115, 142, 165);
  -moz-box-shadow: 0px 0px 8px 1px rgb(115, 142, 165);
  cursor: pointer;
}

.producto-info h1 {
  font-size: 1.2em;
  margin: auto;
  text-align: center;
}

.producto-info .imagen {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 350px;
  height: 350px;
  padding: 30px 0px;
  margin: auto;
}

.producto-info img {
  max-width: 100%;
  height: 100%;
}

.info-parrafos {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.info-parrafos p {
  font-size: 0.9em;
  font-weight: 500;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
  flex-shrink: 1;
  gap: 40px;
}

.info h2 {
  font-size: 1.8em;
  font-weight: bold;
}

.info h2 span {
  font-size: 0.6em;
  font-weight: 400;
  text-decoration: line-through;
}

.map {
  width: 100%;
}

iframe {
  display: flex;
  width: var(--width-container);
  margin: auto;
}

.facebook {
  position: fixed;
  bottom: 80px;
  right: 10px;
  z-index: 1000;
}
.facebook img {
  width: 60px;
  height: 60px;
}

.whatsapp {
  position: fixed;
  bottom: 10px;
  right: 10px;
  z-index: 1000;
}
.whatsapp img {
  width: 60px;
  height: 60px;
}

footer {
  height: var(--header-height);
  width: 100%;
  background: rgb(223, 252, 252);
  background: linear-gradient(
    90deg,
    rgba(223, 252, 252, 1) 0%,
    rgba(255, 244, 221, 1) 100%
  );
}

.footer-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  gap: 10px;
  height: var(--header-height);
  background: transparent;
  width: var(--width-container);
  color: var(--rn-blue);
  font-weight: 600;
}

.active {
  display: block !important;
  right: 0 !important;
}

@media screen and (max-width: 1320px) {
  :root {
    --width-container: 900px;
  }

  .productos {
    display: flex;
    justify-content: space-between;
    max-width: var(--width-container);
    height: fit-content;
    margin: auto;
  }

  .producto-info {
    width: 290px;
    padding: 10px;
  }

  .producto-info h1 {
    font-size: 1.1em;
    margin: auto;
    text-align: center;
  }

  .producto-info .imagen {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 260px;
    height: 250px;
    padding: 10px 0px;
  }

  .ofertas {
    gap: 15px;
  }

  .info {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  .info h2 {
    font-size: 1.5em;
  }

  .info h2 span {
    font-size: 0.7em;
  }
}

@media screen and (max-width: 920px) {
  :root {
    --width-container: 100%;
    --header-height: 70px;
  }
  .rena-img {
    width: 220px;
  }
  .titulo {
    padding-left: 10px;
  }
  .header-contain h1 {
    font-size: 0.685em;
  }
  .ofertas {
    padding: 0px 10px 0px 10px;
  }
  .menuIcon {
    display: block;
    cursor: pointer;
    padding-right: 10px;
  }
  .titulo img {
    width: 220px;
  }
  .nav {
    background-color: #fff;
    position: absolute;
    top: var(--header-height);
    right: 100%;
    width: 100%;
    transition: 0.3s all;
  }
  .nav ul {
    flex-direction: column;
    height: auto;
    width: 100%;
    gap: 0px;
  }
  .nav ul li {
    width: 100%;
    background: rgb(223, 252, 252);
    background: linear-gradient(
      90deg,
      rgba(223, 252, 252, 1) 0%,
      rgba(255, 244, 221, 1) 100%
    );
  }
  .nav ul a {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 90px;
    border-top: 0.1px solid #ebebeb;
    font-size: 0.9em;
  }
  .nav ul li:last-child {
    border-bottom: 0.1px solid #ebebeb;
  }

  .ofertas-container {
    padding: 30px 0px;
  }

  .ofertas-container h1 {
    text-align: center;
    font-size: 0.9em;
  }
  .productos {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    width: 100%;
    gap: 20px;
    scrollbar-width: thin;
    -webkit-overflow-scrolling: touch;
  }
  .info-parrafos {
    font-size: 0.9em;
  }
  .producto-info .imagen {
    width: 270px;
    height: 270px;
    padding: 30px 0px;
  }
  .banner1 img {
    padding: 0px 10px 0px 0px;
  }
  .banner2 img {
    padding: 0px 0px 0px 10px;
  }

  footer {
    height: var(--header-height);
  }
  .footer-container {
    height: var(--header-height);
  }
  .footer-container p {
    font-size: 0.7em;
  }
  .facebook img {
    width: 50px;
    height: 50px;
  }
  .whatsapp img {
    width: 50px;
    height: 50px;
  }
}
